@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

[data-theme='dark'] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .page-container {
    @apply mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8;
  }
}

/* 다크모드 전환 애니메이션 */
@layer base {
  html {
    @apply transition-colors duration-200;
  }
}

/* 웹킷 기반 브라우저용 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none;
}

/* 모든 브라우저에 적용되는 스크롤바 숨기기 */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 