@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.blockContainer {
  width: 606.06px;
  height: 378.79px;
}

.blockStyle {
  width: 303.03px;
  height: 189.395px;
}

.decreaseBlockStyle {
  width: 284px;
  height: 189.395px;
}

.increaseBlockStyle {
  width: 322.05999999999995px;
  height: 189.395px;
}

.heightBlockContainer {
  height: 606.06px;
  width: 378.79px;
}

.heightBlockStyle {
  height: 303.03px;
  width: 189.395px;
}

.heightDecreaseBlockStyle {
  height: 284px;
  width: 189.395px;
}

.heightIncreaseBlockStyle {
  height: 322.05999999999995px;
  width: 189.395px;
}


/** width */
.w-200vw {
  width: 200vw;
}
.w-190vh {
  width: 190vh;
}
.w-180vh {
  width: 180vh;
}
.w-170vh {
  width: 170vh;
}
.w-160vh {
  width: 160vh;
}
.w-150vw {
  width: 150vw;
}
.w-140vh {
  width: 140vh;
}
.w-130vh {
  width: 130vh;
}
.w-120vh {
  width: 120vh;
}
.w-110vh {
  width: 110vh;
}
.w-100vw {
  width: 100vw;
}
.w-90vw {
  width: 90vw;
}
.w-80vw {
  width: 80vw;
}
.w-70vw {
  width: 70vw;
}
.w-60vw {
  width: 60vw;
}
.w-50vw {
  width: 50vw;
}
.w-40vw {
  width: 40vw;
}
.w-30vw {
  width: 30vw;
}
.w-20vw {
  width: 20vw;
}
.w-10vw {
  width: 10vw;
}

/** height */
.h-200vh {
  height: 200vh;
}
.h-190vh {
  height: 190vh;
}
.h-180vh {
  height: 180vh;
}
.h-170vh {
  height: 170vh;
}
.h-160vh {
  height: 160vh;
}
.h-150vh {
  height: 150vh;
}
.h-140vh {
  height: 140vh;
}
.h-130vh {
  height: 130vh;
}
.h-120vh {
  height: 120vh;
}
.h-110vh {
  height: 110vh;
}
.h-100vh {
  height: 100vh;
}
.h-90vh {
  height: 90vh;
}
.h-80vh {
  height: 80vh;
}
.h-70vh {
  height: 70vh;
}
.h-60vh {
  height: 60vh;
}
.h-50vh {
  height: 50vh;
}
.h-40vh {
  height: 40vh;
}
.h-30vh {
  height: 30vh;
}
.h-20vh {
  height: 20vh;
}
.h-10vh {
  height: 10vh;
}

/** rotate */
.rotate-90 {
  transform: rotate(90deg);
}
